<div class="container">
<h3>Nouvel utilisateur</h3>

        <%= form_for @user, url: {action: "create"} do |u| %>
        <div class="form-group">
            <%= u.label "Ton pseudo ici :" %><br>
            <%= u.text_field :name %><br>
        </div>
        <div class="form-group">
            <button type=submit class="btn btn-primary">Créer le nouveau User</button>
        </div>

        <% end %>

</div>
